@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
}

.container{
	position: relative;
	height: 100vh;
}

#data{
	width: 33.333%;
	height: 100%;
	padding: 10px;
}

#data p{
	margin-bottom: 3%;
}

#info{
	width: 100%;
	max-width: 421.33px;
	height: 40px;
	color: orange;
	margin-top: 9%;
}
#code{
	width: 34px;
	height: 30px;
	font-size: 12pt;
	text-align: left;
}
#text{
	width: 100%;
	height: 80px;
	resize: none;
	max-width: 421.33px;
	font-size: 12pt;
}
#new_classifieds{
	border-left: 1px solid grey;
	position: absolute;
	width: 33.333%;
	top: 0;
	left: 66.666%;
	padding: 10px;
	height: 100%;
	overflow: auto;
	
}
#old_classifieds{
	font-size: 9pt;
	border-left: 1px solid grey;
	position: absolute;
	width: 33.333%;
	top: 0;
	left: 33.333%;
	padding: 10px;
	height: 100%;
	overflow: auto;
}
.all, .matches{
	margin-bottom: 10px;
	font-size: 9pt;
}
.already{
	color: red;
}

.codes{
	background: url(/img/codes.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 90%;
	width: 100%;
	margin: 50px 0;
}

#data .hint p{
	font-size: 12px;
	margin-bottom: 0;
	width: 50%;
}

.bold{
	font-weight: bold;
}